$icon-size: 1.1em !default;

.icon {
    width: $icon-size;
    height: $icon-size;
    vertical-align: -.125em;
    fill: currentColor;
}
.icon-big .icon {
    width: 3 * $icon-size;
    height: 3 * $icon-size;
}
