<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% set title %}{% block title %}{{ 'main.title'|trans }} • {{ 'main.slogan'|trans }}{% endblock %}{% endset %}
        {% set description %}{% block description %}{{ 'main.description'|trans }}{% endblock %}{% endset %}
        {% set keywords %}{% block keywords %}{{ 'main.keywords'|trans }}{% endblock %}{% endset %}
        {% set image %}{% block image %}{{ app.request.uriForPath(asset('build/images/banner.png')) }}{% endblock %}{% endset %}
        {% set hasFormats %}{% block hasFormats %}{{ false }}{% endblock %}{% endset %}

        {% block meta %}
            <title>{{ title }}</title>
            <meta name="description" content="{{ description }}" />
            <meta name="keywords" content="{{ keywords }}" />
            <meta name="author" content="{{ 'main.author'|trans }} <{{ 'main.email'|trans }}>" />
        {% endblock %}

        {% block social %}
            <meta property="og:type" content="article" />
            <meta property="og:title" content="{{ title }}" />
            <meta property="og:url" content="{{ app.request.uri }}" />
            <meta property="og:image" content="{{ image }}" />
            <meta property="og:logo" content="{{ app.request.uriForPath(asset('build/images/favicon.png')) }}" />
            <meta property="og:site_name" content="{{ 'main.title'|trans }}" />

            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:title" content="{{ title }}">
            <meta name="twitter:description" content="{{ description }}">
            <meta name="twitter:image" content="{{ image }}">
            <meta name="twitter:site" content="AvrisIT" />
        {% endblock %}
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ asset('build/images/favicon.png') }}" />
    </head>
    <body class="d-flex flex-column">
        {% block body %}
            {% include 'header.html.twig' %}
            {% block content %}{% endblock %}
            {% include 'footer.html.twig' %}
        {% endblock %}
        {{ iconSprites()}}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script defer data-domain="avi.avris.it" src="https://plausible.avris.it/js/script.js"></script>
        {% endblock %}
    </body>
</html>
