<footer class="bg-dark text-white px-2 py-4">
    <div class="container">
        <ul class="list-inline mb-0">
            <li class="list-inline-item my-2 mr-3">
                {{ icon('user') }}
                {{ 'main.author'|trans }}
            </li>
            <li class="list-inline-item my-2 mr-3">
                <a href="https://avris.it" target="_blank" rel="noopener" class="text-light">
                    {{ icon('globe-europe') }}
                    avris.it
                </a>
            </li>
            <li class="list-inline-item my-2 mr-3">
                <a href="https://oql.avris.it/license?c=Andrea%20Vos%7Chttps://avris.it" target="_blank" rel="noopener" class="text-light">
                    {{ icon('file-certificate') }}
                    OQL
                </a>
            </li>
            <li class="list-inline-item my-2 mr-3">
                <a href="https://gitlab.com/Avris/Avi" target="_blank" rel="noopener" class="text-light">
                    {{ icon('brands gitlab') }}
                    Gitab
                </a>
            </li>
            <li class="list-inline-item my-2 mr-3">
                <a href="https://paypal.me/AndreAvris" target="_blank" rel="noopener" class="text-light">
                    {{ icon('brands paypal') }}
                    {{ 'main.donate'|trans }}
                </a>
            </li>
        </ul>
    </div>
</footer>
