<header class="bg-dark text-white px-2 py-4 shadow-lg">
    <div class="container">
        <h1>
            {{ 'main.title'|trans }}
            <br class="d-sm-none"/>
            <small class="text-muted">{{ 'main.slogan'|trans }}</small>
        </h1>
        <p>
            {{ 'main.description'|trans }}
        </p>
        <p>
            {{ 'main.instruction'|trans }}
        </p>
    </div>
</header>
