{% extends 'base.html.twig' %}

{% block content %}
    <main class="flex-grow-1">
        <section>
            <div class="container py-4">
                <h2>
                    {{ icon('terminal') }}
                    {{ 'form.header'|trans }}
                </h2>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <form data-base="{{ app.request.uriForPath('') }}" data-invalid="{{ 'form.invalid'|trans }}">
                            <div class="form-group">
                                <label class="w-100">
                                    <div class="mb-1">{{ 'form.identifier'|trans }}</div>
                                    <input class="form-control generate-source" name="identifier" value="jo.doe@example.com" required>
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="mb-1">{{ 'form.type'|trans }}</div>
                                <div class="d-flex">
                                    <div class="form-check mr-3">
                                        <label class="form-check-label">
                                            <input class="form-check-input generate-source" type="radio" name="type" value="letter" checked>
                                            {{ 'form.typeLetter'|trans }}
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input generate-source" type="radio" value="shape" name="type">
                                            {{ 'form.typeShape'|trans }}
                                        </label>
                                        <br/>
                                        <small class="text-muted">
                                            <a href="https://shapes.framer.website/" target="_blank" rel="noopener">{{ 'form.typeShapeAttributionLink'|trans }}</a>
                                            {{ 'form.typeShapeAttribution'|trans }}
                                            <a href="https://www.monikamichalczyk.com/" target="_blank" rel="noopener">Monika Michalczyk</a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="w-100">
                                    <div class="mb-1">{{ 'form.size'|trans }}</div>
                                    <input type="number" class="form-control generate-source" name="size" value="128" min="16" max="360" required>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="w-100">
                                    <div class="mb-1">{{ 'form.format'|trans }}</div>
                                    <select class="form-control generate-source" name="format" required>
                                        <option value="png" selected>png</option>
                                        <option value="jpg">jpg</option>
                                        <option value="gif">gif</option>
                                    </select>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="card mt-4">
                            <div class="card-body text-center">
                                <img src="" alt="" class="generate-image"/>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <div class="input-group">
                                <input class="form-control generate-url" value="" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button" data-clipboard-target=".generate-url">{{ icon('clipboard') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-light border-top border-bottom shadow">
            <div class="container py-4">
                <h2>
                    {{ icon('book-spells') }}
                    {{ 'api.header'|trans }}
                </h2>
                <table class="table table-bordered">
                    <tr>
                        <td colspan="2">
                            <code>
                                {{ app.request.uriForPath('/{{ type }}-{{ size=128 }}/{{ base64(identifier) }}.{{ format=png }}') }}
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <th><code>{{ '{{ size }}' }}</code></th>
                        <td>{{ 'api.size'|trans }}</td>
                    </tr>
                    <tr>
                        <th><code>{{ '{{ type }}' }}</code></th>
                        <td>{{ 'api.type'|trans }}</td>
                    </tr>
                    <tr>
                        <th><code>{{ '{{ identifier }}' }}</code></th>
                        <td>{{ 'api.identifier'|trans|raw }}</td>
                    </tr>
                    <tr>
                        <th><code>{{ '{{ format }}' }}</code></th>
                        <td>{{ 'api.format'|trans|raw }}</td>
                    </tr>
                </table>
            </div>
        </section>
        <section>
            <div class="container py-4">
                <h2>
                    {{ icon('code') }}
                    {{ 'examples.header'|trans }}
                </h2>
                <p>{{ 'examples.php'|trans }}</p>
                <pre><code>{{ '<img src="' ~ app.request.uriForPath('/letter-64/<?= strtr(base64_encode($user->getEmail()), \'+/\', \'-_\') ?>.jpg' ~ '">') }}</code></pre>
                <p>{{ 'examples.phpGravatar'|trans|raw }}</p>
                <pre><code>{{ '<img src="https://www.gravatar.com/avatar/<?= md5(strtolower(trim($user->getEmail()))) ?>
        ?d=<?= urlencode(\'' ~ app.request.uriForPath('/letter-64/\' . strtr(base64_encode($user->getEmail()), \'+/\', \'-_\') . \'.jpg\'') ~ ') ?>
        &s=64" />' }}</code></pre>
            </div>
        </section>
    </main>
{% endblock %}
