{% extends 'base.html.twig' %}

{% block content %}
    <main class="flex-grow-1">
        <div class="container my-4">
            <h2>
                {{ icon('bug') }}
                {{ 'error.server.header'|trans }}
            </h2>

            <p>{{ 'error.server.description'|trans({'%home%': path('homepage')})|raw }}</p>
        </div>
    </main>
{% endblock %}
